name: test

on:
  pull_request:
     branches:
      - master
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
      - name: install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: install tarpaulin
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-tarpaulin
      - name: run tarpaulin
        uses: actions-rs/cargo@v1
        with:
          command: tarpaulin
          args: --coveralls ${{ secrets.COVERALLS_TOKEN }}
